<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
  <meta charset="utf-8">
  <title>Lista Telefonica</title>

  <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css" />
  <style>
    .jumbotron {
      text-align: center;
      width: 600px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      padding: 25px;
    }
    .table {
      text-align: left;
      margin-top: 20px;
    }
    .form-control {
      margin-bottom: 5px;
    }
    .selecionado {
      background-color: yellow;
    }
    .negrito {
      font-weight: bold;
    }
  </style>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-locale_pt-br.js"></script>
  <script src="lib/angular/angular-messages.js"></script>
  <script>
  angular.module("listaTelefonica", ["ngMessages"]);
  angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $filter, $http){
    $scope.app = "Lista Telefonica";
    $scope.contatos = [];
    $scope.operadoras = [];

    var carregarContatos = function() {
      $http.get("http://localhost:3412/contatos").success(function(data) {
        $scope.contatos = data;
      });
    };

    var carregarOperadoras = function() {
      $http.get("http://localhost:3412/operadoras").success(function(data) {
        $scope.operadoras = data;
      }).error(function(data){
        $scope.message = "Aconteceu um problema: " + data;
      });
    };

    $scope.adicionarContato = function(contato) {
      contato.data = new Date();
      $http.post("http://localhost:3412/contatos", contato).success(function(data){
        delete $scope.contato;
        $scope.contatoForm.$setPristine();
        carregarContatos();
      }).error(function(data){
        $scope.message = "Aconteceu um erro: " + data;
      });

    };
    $scope.apagarContatos = function(contatos) {
      $scope.contatos = contatos.filter(function(contato){
        if(!contato.selecionado) return contato;
      });
    };
    $scope.isContatoSelecionado = function(contatos) {
      return contatos.some(function(contato) {
        return contato.selecionado;
      });
    };
    $scope.ordenarPor = function(campo){
      $scope.criterioDeOrdenacao = campo;
      $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
    }

    carregarContatos();
    carregarOperadoras();

  });
  </script>
</head>
<body>
  <div class="jumbotron" ng-controller="listaTelefonicaCtrl">
    <h3>{{app}}</h3>
    {{message}}
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
    <table ng-show="contatos.length > 0" class="table table-striped">
      <tr>
        <th></th>
        <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
        <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
        <th>Operadora</th>
        <th>Data</th>
      </tr>
      <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">
        <td><input type="checkbox" ng-model="contato.selecionado"/></td>
        <td>{{contato.nome | uppercase}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome | lowercase}}</td>
        <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}
      </tr>
    </table>
    <hr />
    <form name="contatoForm">
      <input class="form-control" type="text" name="nome" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="5"/>
      <input class="form-control" type="text" name="telefone" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' group by operadora.categoria for operadora in operadoras | orderBy: '+nome'">
        <option value="">Selecione a Operadora</option>
      </select>
    </form>

    <div ng-messages="contatoForm.nome.$error">
      <div ng-message="required" ng-show="contatoForm.nome.$dirty" class="alert alert-danger">
        Preencha o campo nome!
      </div>
      <div ng-message="minlength" class="alert alert-danger">
        Preencha o campo nome deve ter no minimo 5 caracteres!
      </div>
    </div>
    <div ng-messages="contatoForm.telefone.$error">
      <div ng-message="required" ng-show="contatoForm.telefone.$dirty" class="alert alert-danger">
        Preencha o campo telefone!
      </div>
      <div ng-message="pattern" class="alert alert-danger">
        Preencha o campo telefone deve seguir o padrão xxxx-xxxx!
      </div>
    </div>
    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
  </div>
  <div ng-include="'footer.html'"></div>
</body>
</html>
